* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
}

/* Nav bar */

nav {
  background: linear-gradient(90deg, #d8a1ff, blueviolet);
  height: 26vh;
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Creates three equal sections */
  align-items: center;
  padding: 0 20px;
}

.nav-image {
  height: 40px;
  width: auto;
  grid-column: 1;
}

.nav-title {
  color: white;
  font-size: 34px;
  font-weight: bold;
  grid-column: 2; /* Forces the title into the middle column */
  justify-self: center;
}

.nav-links-container {
  grid-column: 3; /* Puts the links in the right column */
  justify-self: end;
  display: flex;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

/* Main page */

.center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 84vh; */
  min-height: 84vh;
  padding: 40px 0;
  width: 100%;
}

.homepage_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 95%;
}

#bundesliga-table {
  /* Forces the table to start at column 1 and span across all 3 columns */
  grid-column: span 3;
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* centers the table horizontally */
}

#bundesliga-table td:nth-child(2) {
  width: 15%; /* or min-width: 200px */
}

/* #bundesliga-table th {
  text-align: left;
} */
#bundesliga-table th,
#bundesliga-table td {
  text-align: center;
}

.homepage_card {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  border: 2px solid black;
  border-radius: 15%;
  height: 280px;
  /* width: 250px; */
  padding: 10px;
  /* margin: 20px; */
  align-items: center;
  justify-content: center;
  background: #f5f0e1;
}

p {
  margin: 0;
}

.homepage_card_title {
  font-weight: bold;
  font-size: 60px;
  text-decoration: none;
  color: blueviolet;
}

.page_title {
  display: flex;
  font-weight: bold;
  font-size: 60px;
  align-items: center;
  justify-content: center;
  color: blueviolet;
  margin: 40px;
}

.page_subtitle {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  color: blueviolet;
  margin: 60px 20px 20px 20px;
}

.table_container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertical alignment */
  /* align-items: center; Horizontal alignment */
  margin: 20px 290px;
}

.table_container_b {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertical alignment */
  /* align-items: center; Horizontal alignment */
  margin: 20px 230px;
}

/* ul {
  list-style-type: none;
} */
